---
name: all_url_check

'on':
  workflow_dispatch:
  push:
  schedule:
    - cron: '35 2 * * *'

permissions:
  contents: read

jobs:
  run_lychee:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: link_check with lychee-action
        id: link_check
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0  # v2.7.0
        with:
          args: >
           --verbose
           --insecure
           --no-progress
           --accept 200,999
           **/*.tex **/*.md **/*.py
          fail: true
...
