---
name: all_url_check

'on':
  workflow_dispatch:
  push:
  schedule:
    - cron: '35 2 * * *'

permissions:
  contents: read

jobs:
  run_lychee:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: link_check with lychee-action
        id: link_check
        uses: lycheeverse/lychee-action@8646ba30535128ac92d33dfc9133794bfdd9b411  # v2.8.0
        with:
          args: >
           --verbose
           --insecure
           --no-progress
           --accept 200,999
           **/*.tex **/*.md **/*.py
          fail: true
...
