---
name: pdf_check

'on':
  workflow_dispatch:
  push:
    paths:
      - 'generated/**'
      - '.github/workflows/qpdf_check.yml'

permissions:
  contents: read

jobs:
  run_qpdf:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install qpdf
        run: |
          sudo apt-get install qpdf

      - name: Check with qpdf
        shell: bash
        run: |
          cd "$(./get_output_folder.sh)"
          for cur_file in *.pdf; do qpdf --check $cur_file; done

      - name: Verify checksum data
        run: ./verify_checksum_data.sh
...
