---
name: python_test

'on':
  workflow_dispatch:
  push:
    paths-ignore:
      - 'generated/**'
  schedule:
    - cron: '30 12 * * 4'

permissions:
  contents: read

jobs:
  python_test:
    runs-on: ${{matrix.os}}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
        python-version: ['3.10']

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python ${{matrix.python-version}}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{matrix.python-version}}

      - name: Install dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8 pylint pytest
          python -m pip install numpy scipy matplotlib
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Display pylint version
        run: pylint --version

      - name: Display flake8 version
        run: flake8 --version

      - name: Run linter
        shell: bash
        run: |
         cd python/
         ./check_all_python_scripts.sh

      - name: Test with pytest
        run: |
          pytest
...
